<div id="commonlist_{{list}}">
    <button type="button"
    class="btn btn-primary"
    (click)="toggleFilter()">
    {{buttonName}}</button>
    <h2>list-view</h2>
    <table class="table table-hover table-bordered ">
        <thead>
          @if (isFilter) {
            <tr>
                @for (headers of columnDefs; track $index) {
                    <th><a (click)="getsorting(headers)">{{headers.Name}}</a>
                        <span>
                            <input id="searchbox" type="text" class="grid-search-textbox"(keyup)="getsearchfilter($event)"
                              [(ngModel)]="GridFilter[headers?.Field]"  [ngModelOptions]="{standalone: true}">
                          </span></th>
                    
                }
                
              </tr>
          }@else {
            <tr >
                @for (headers of columnDefs; track $index) {
                    <th><a (click)="getsorting(headers)" [hidden]="isFilter">{{headers.Name}}</a></th>
                }
              </tr>
          }
         
        </thead>
        <tbody>
           @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
            <tr>
                @for (col of columnDefs ; track $index) {
                    <td>
                        
                        @if (col.DataType=="Date") {
                            {{row[col.Field] | date}}
                        }
                        
                        @else {
                        {{row[col.Field]}}
                        }
                    </td>
                }
            </tr>
            
           }
        </tbody>
      </table>
      <div>
        <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
        <label id="page-selection">Items per page:
          <select [(ngModel)]="itemsPerPages">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </label>
      </div>
</div>
