<div id="commonlist_{{list}}">
    <button type="button"
    class="btn btn-primary"
    (click)="toggleFilter()">
    {{buttonName}}</button>
    <ul>
        @if (isFilter) {
          @for (headers of columnDefs; track $index) {
            <span>
              <input id="searchbox" type="text" class="grid-search-textbox"(keyup)="getsearchfilter($event)"
                [(ngModel)]="GridFilter[headers?.Field]"  [ngModelOptions]="{standalone: true}">
            </span>
                     @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
                      @for (col of columnDefs ; track $index) {
                          <span>
                              
                              @if (col.DataType=="Date") {
                                <li><a (click)="getsorting(headers)">{{headers.Name}}</a>
                                  
                                
                                  {{row[col.Field] | date}}
                                </li>
                              }
                              
                              @else {
                                <li><a (click)="getsorting(headers)">{{headers.Name}}</a>
                                  
                                
                              {{row[col.Field]}}
                                </li>
                              }
                          </span>
                      }
                      
                      }

          }
          
    }@else {

          @for (headers of columnDefs; track $index) {
                @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
                  @for (col of columnDefs ; track $index) {
                      <span>
                          
                          @if (col.DataType=="Date") {
                            <li><a (click)="getsorting(headers)" [hidden]="isFilter">{{headers.Name}}</a>
                              {{row[col.Field] | date}}
                            </li>
                          }
                          
                          @else {
                            <li><a (click)="getsorting(headers)" [hidden]="isFilter">{{headers.Name}}</a>
                          {{row[col.Field]}}
                            </li>
                          }
                      </span>
                  }
                  
                  }
      
            
          }

    }
    </ul>
      <div>
        <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
        <label id="page-selection">Items per page:
          <select [(ngModel)]="itemsPerPages">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </label>
      </div>
</div>
